{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb-typescript", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "@typescript-eslint/no-unnecessary-type-assertion": 2
  }
}
